@import "varialbes.scss";
@import "colors.scss";
@import "mixins.scss";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header{
  height: 60px;
  width: 100%;
  background-color: wheat;
  display: flex
}

.main-content{
  margin-top: $default-margin*9;
  margin-left: $default-margin*24;
  margin-right: $default-margin*2;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
