@import "varialbes.scss";
@import "colors.scss";
@import "mixins.scss";

// Auth module mixins
@mixin auth-form-wrapper{
  width: 520px !important;
  padding: $default-padding*4 !important;
  border-radius: 4px;
  border: 1px solid $concrete;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.2), 0 4px 20px 0 rgba(0,0,0,.19);
}

@mixin screen-heading{
  letter-spacing: -0.5px;
  text-transform: capitalize;
  @include set-font(QuickSandMedium, $default-font-size*2, $pickled-bluewood, normal, left, normal);
  @media screen and (min-width: 1024px){
    font-size: $default-font-size*3;
  }
}

@mixin screen-sub-heading{
  letter-spacing: -0.5px;
  @include set-font(QuickSandMedium, $default-font-size+4, $pickled-bluewood, normal, left, normal);
}

.auth-form-view{
  height: 100vh;
  background-color: $white;
  @include align-item(flex, center, center, row);
  @media screen and (min-width: 1024px){
    padding: $default-padding*5 !important;
    padding-bottom: $default-padding*3 !important;
  }
  
  //Login Screen
  .login-view-form-wrapper{
    @include auth-form-wrapper;
    .heading{
      padding-bottom: $default-padding*3;
      @include screen-heading;
    }
    .screen-sub-heading{
      padding-bottom: $default-padding*2;
      @include screen-sub-heading;
      @media screen and (min-width: 1024px){
        padding-bottom: $default-padding*4;
      }
    }
    .ui.form{
      .btn-wrapper{
        margin-top: $default-margin*2;
        @include align-item(flex, space-between, center, row);
        .app-btn{
          @include app-btn(100px, 50px, $pickled-bluewood, $pickled-bluewood);
        }
      }
      .links-wrapper{
        margin-top: $default-margin*4;
        @include align-item(flex, space-between, center, row);
        .forgot-password-link, .register-link{
          cursor: pointer;
          @include set-font(QuickSandMedium, $default-font-size+4, $pickled-bluewood, normal, left, 500);
        }
      }
    }
  }
  
  //Forgot Screen
  .forgot-password-view-form-wrapper{
    @include auth-form-wrapper;
    .heading{
      padding-bottom: $default-padding*3;
      @include screen-heading;
    }
    .screen-sub-heading{
      padding-bottom: $default-padding*2;
      @include screen-sub-heading;
      @media screen and (min-width: 1024px){
        padding-bottom: $default-padding*4;
      }
    }
    .ui.form{
      .btn-wrapper{
        margin-top: $default-margin*2;
        @include align-item(flex, space-between, center, row);
        .app-btn{
          @include app-btn(100px, 50px, $pickled-bluewood, $pickled-bluewood);
        }
      }
      .links-wrapper{
        margin-top: $default-margin*4;
        text-align: right;
        .back-to-login-link{
          cursor: pointer;
          @include set-font(QuickSandMedium, $default-font-size+4, $pickled-bluewood, normal, right, 500);
        }
      }
    }
  }
  
  //Reset Password
  .reset-password-view-form-wrapper{
    @include auth-form-wrapper;
    .heading{
      padding-bottom: $default-padding*3;
      @include screen-heading;
    }
    .screen-sub-heading{
      padding-bottom: $default-padding*2;
      @include screen-sub-heading;
      @media screen and (min-width: 1024px){
        padding-bottom: $default-padding*4;
      }
    }
    .ui.form{
      .btn-wrapper{
        margin-top: $default-margin*4;
        @include align-item(flex, space-between, center, row);
        .app-btn{
          @include app-btn(100px, 50px, $pickled-bluewood, $pickled-bluewood);
        }
      }
    }
  }
}