@import "varialbes.scss";
@import "colors.scss";
@import "mixins.scss";

// Auth module mixins
@mixin auth-form-wrapper{
  width: 100%;
  max-width: 400px !important;
  padding: $default-padding*4 !important;
  border-radius: 4px;
  background-color: $white;
  box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

@mixin screen-heading{
  letter-spacing: -0.5px;
  text-transform: capitalize;
  @include set-font(QuickSandMedium, $default-font-size*2, $pickled-bluewood, normal, left, normal);
  @media screen and (min-width: 1024px){
    font-size: $default-font-size*3;
  }
}

@mixin screen-sub-heading{
  letter-spacing: -0.5px;
  @include set-font(QuickSandMedium, $default-font-size+4, $pickled-bluewood, normal, left, normal);
}

.auth-form-view{
  height: 100vh;
  background-color: $white;
  @include align-item(flex, space-between, center, row);
  
  .left-section{
    width: 50%;
    height: 100%;
    background: $theme-color;
    .brand-name{
      @include set-font(QuickSandBold, $default-font-size*6, $white, normal, left, normal);
      position: absolute;
      top: calc(50% - 30px);
      left: calc(25% - 100px);
    }
    .left-section-marker{
      position: relative;
      &::after{
        position: absolute;
        content: '';
        right: -5px;
        top: 50vh;
        width: 20px;
        height: 20px;
        background: $theme-color;
        transform: rotate(45deg);
      }
    }
  }
  .right-section{
    width: 50%;
    height: 100%;
    background: $theme-color-shade-one;
    @include align-item(flex, space-between, center, row);
  
    //Login Screen
    .login-view-form-wrapper{
      margin: 0 auto;
      @include auth-form-wrapper;
      .heading{
        padding-top: $default-padding*2;
        padding-bottom: $default-padding*3;
        @include screen-heading;
      }
      .screen-sub-heading{
        padding-bottom: $default-padding*2;
        @include screen-sub-heading;
        @media screen and (min-width: 1024px){
          padding-bottom: $default-padding*4;
        }
      }
      .ui.form{
        .btn-wrapper{
          margin-top: $default-margin*2;
          margin-bottom: $default-margin*2;
          @include align-item(flex, space-between, center, row);
          .app-btn{
            @include app-btn(100px, 50px, $theme-color, $theme-color);
          }
        }
        .links-wrapper{
          margin-top: $default-margin*4;
          @include align-item(flex, space-between, center, row);
          .forgot-password-link, .register-link{
            cursor: pointer;
            @include set-font(QuickSandMedium, $default-font-size+4, $pickled-bluewood, normal, left, 500);
          }
        }
      }
    }
  
    //Forgot Screen
    .forgot-password-view-form-wrapper{
      margin: 0 auto;
      @include auth-form-wrapper;
      .heading{
        padding-top: $default-padding*2;
        padding-bottom: $default-padding*3;
        @include screen-heading;
      }
      .screen-sub-heading{
        padding-bottom: $default-padding*2;
        @include screen-sub-heading;
        @media screen and (min-width: 1024px){
          padding-bottom: $default-padding*4;
        }
      }
      .ui.form{
        .btn-wrapper{
          margin-top: $default-margin*2;
          margin-bottom: $default-margin*2;
          @include align-item(flex, space-between, center, row);
          .app-btn{
            @include app-btn(100px, 50px, $theme-color, $theme-color);
          }
        }
        .links-wrapper{
          margin-top: $default-margin*4;
          text-align: right;
          .back-to-login-link{
            cursor: pointer;
            @include set-font(QuickSandMedium, $default-font-size+4, $pickled-bluewood, normal, right, 500);
          }
        }
      }
    }
  
    //Reset Password
    .reset-password-view-form-wrapper{
      margin: 0 auto;
      @include auth-form-wrapper;
      .heading{
        padding-top: $default-padding*2;
        padding-bottom: $default-padding*3;
        @include screen-heading;
      }
      .screen-sub-heading{
        padding-bottom: $default-padding*2;
        @include screen-sub-heading;
        @media screen and (min-width: 1024px){
          padding-bottom: $default-padding*4;
        }
      }
      .ui.form{
        .btn-wrapper{
          margin-top: $default-margin*4;
          margin-bottom: $default-margin*2;
          @include align-item(flex, space-between, center, row);
          .app-btn{
            @include app-btn(100px, 50px, $theme-color, $theme-color);
          }
        }
      }
    }

    //Register
    .register-view-form-wrapper{
      margin: 0 auto;
      @include auth-form-wrapper;
      .heading{
        padding-top: $default-padding*2;
        padding-bottom: $default-padding*3;
        @include screen-heading;
      }
      .ui.form{
        .btn-wrapper{
          margin-top: $default-margin*4;
          margin-bottom: $default-margin*2;
          @include align-item(flex, space-between, center, row);
          .app-btn{
            @include app-btn(100px, 50px, $theme-color, $theme-color);
          }
        }
        .register-footer-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      .register-success-form {
        .sucess-msg, .error-msg {
          font-size: 26px;
          text-align: center;
          padding: 30px 0px;
          line-height: 1.4em;
        }
        .register-msg-footer-wrapper {
          display: flex;
          justify-content: center;
          .back-to-login-link {
            button {
              @include app-btn(100px, 50px, $theme-color, $theme-color);
            }
          }
          .back-to-register{
            @include app-btn(100px, 50px, $error-color, $error-color);
          }
        }
      }
    }
  }
  
}