.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

.auth-form-view {
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  @media screen and (min-width: 1024px) {
    .auth-form-view {
      padding: 50px !important;
      padding-bottom: 30px !important; } }
  .auth-form-view .login-view-form-wrapper {
    width: 520px !important;
    padding: 40px !important;
    border-radius: 4px;
    border: 1px solid #F3F3F3;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); }
    .auth-form-view .login-view-form-wrapper .heading {
      padding-bottom: 30px;
      letter-spacing: -0.5px;
      text-transform: capitalize;
      color: #2F3D51;
      font-size: 20px !important;
      font-family: QuickSandMedium !important;
      line-height: normal;
      font-weight: normal;
      text-align: left; }
      @media screen and (min-width: 1024px) {
        .auth-form-view .login-view-form-wrapper .heading {
          font-size: 30px; } }
    .auth-form-view .login-view-form-wrapper .screen-sub-heading {
      padding-bottom: 20px;
      letter-spacing: -0.5px;
      color: #2F3D51;
      font-size: 14px !important;
      font-family: QuickSandMedium !important;
      line-height: normal;
      font-weight: normal;
      text-align: left; }
      @media screen and (min-width: 1024px) {
        .auth-form-view .login-view-form-wrapper .screen-sub-heading {
          padding-bottom: 40px; } }
    .auth-form-view .login-view-form-wrapper .ui.form .btn-wrapper {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      .auth-form-view .login-view-form-wrapper .ui.form .btn-wrapper .app-btn {
        min-width: 100px;
        height: 50px;
        border-radius: 4px;
        background-color: #49b44e;
        border: 1px solid #49b44e;
        color: #ffffff;
        font-size: 14px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: 500;
        text-align: center; }
    .auth-form-view .login-view-form-wrapper .ui.form .links-wrapper {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      .auth-form-view .login-view-form-wrapper .ui.form .links-wrapper .forgot-password-link, .auth-form-view .login-view-form-wrapper .ui.form .links-wrapper .register-link {
        cursor: pointer;
        color: #2F3D51;
        font-size: 14px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: 500;
        text-align: left; }
  .auth-form-view .forgot-password-view-form-wrapper {
    width: 520px !important;
    padding: 40px !important;
    border-radius: 4px;
    border: 1px solid #F3F3F3;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); }
    .auth-form-view .forgot-password-view-form-wrapper .heading {
      padding-bottom: 30px;
      letter-spacing: -0.5px;
      text-transform: capitalize;
      color: #2F3D51;
      font-size: 20px !important;
      font-family: QuickSandMedium !important;
      line-height: normal;
      font-weight: normal;
      text-align: left; }
      @media screen and (min-width: 1024px) {
        .auth-form-view .forgot-password-view-form-wrapper .heading {
          font-size: 30px; } }
    .auth-form-view .forgot-password-view-form-wrapper .screen-sub-heading {
      padding-bottom: 20px;
      letter-spacing: -0.5px;
      color: #2F3D51;
      font-size: 14px !important;
      font-family: QuickSandMedium !important;
      line-height: normal;
      font-weight: normal;
      text-align: left; }
      @media screen and (min-width: 1024px) {
        .auth-form-view .forgot-password-view-form-wrapper .screen-sub-heading {
          padding-bottom: 40px; } }
    .auth-form-view .forgot-password-view-form-wrapper .ui.form .btn-wrapper {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      .auth-form-view .forgot-password-view-form-wrapper .ui.form .btn-wrapper .app-btn {
        min-width: 100px;
        height: 50px;
        border-radius: 4px;
        background-color: #49b44e;
        border: 1px solid #49b44e;
        color: #ffffff;
        font-size: 14px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: 500;
        text-align: center; }
    .auth-form-view .forgot-password-view-form-wrapper .ui.form .links-wrapper {
      margin-top: 40px;
      text-align: right; }
      .auth-form-view .forgot-password-view-form-wrapper .ui.form .links-wrapper .back-to-login-link {
        cursor: pointer;
        color: #2F3D51;
        font-size: 14px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: 500;
        text-align: right; }
  .auth-form-view .reset-password-view-form-wrapper {
    width: 520px !important;
    padding: 40px !important;
    border-radius: 4px;
    border: 1px solid #F3F3F3;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); }
    .auth-form-view .reset-password-view-form-wrapper .heading {
      padding-bottom: 30px;
      letter-spacing: -0.5px;
      text-transform: capitalize;
      color: #2F3D51;
      font-size: 20px !important;
      font-family: QuickSandMedium !important;
      line-height: normal;
      font-weight: normal;
      text-align: left; }
      @media screen and (min-width: 1024px) {
        .auth-form-view .reset-password-view-form-wrapper .heading {
          font-size: 30px; } }
    .auth-form-view .reset-password-view-form-wrapper .screen-sub-heading {
      padding-bottom: 20px;
      letter-spacing: -0.5px;
      color: #2F3D51;
      font-size: 14px !important;
      font-family: QuickSandMedium !important;
      line-height: normal;
      font-weight: normal;
      text-align: left; }
      @media screen and (min-width: 1024px) {
        .auth-form-view .reset-password-view-form-wrapper .screen-sub-heading {
          padding-bottom: 40px; } }
    .auth-form-view .reset-password-view-form-wrapper .ui.form .btn-wrapper {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      .auth-form-view .reset-password-view-form-wrapper .ui.form .btn-wrapper .app-btn {
        min-width: 100px;
        height: 50px;
        border-radius: 4px;
        background-color: #49b44e;
        border: 1px solid #49b44e;
        color: #ffffff;
        font-size: 14px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: 500;
        text-align: center; }
