.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

.app-btn {
  min-width: 100px;
  height: 50px;
  border-radius: 4px;
  background-color: #111111;
  border: 1px solid #111111;
  color: #ffffff;
  font-size: 14px !important;
  font-family: QuickSandMedium !important;
  line-height: normal;
  font-weight: 500;
  text-align: center; }
