// COLORS
$white: #FFFFFF;
$shuttle-gray: #686B78;
$pickled-bluewood: #2F3D51;
$wild-water-melon: #ff5066;
$concrete: #F3F3F3;
$chateau-green: #49b44e;
$panache: #f0f8f0;
$everglade: #255D31;
$silver: #cccccc;
$cold-gray: #111111;
$black: #000000;
$nobel: #B6B6B6;
$mine-shaft: #3C3C3C;

//VARIABLE
$theme-color: $cold-gray;
$theme-color-shade-one: $white;
$default-text-color: $black;
$error-color: $wild-water-melon;
$input-place-holder-color: $shuttle-gray;