// COLORS
$white: #FFFFFF;
$shuttle-gray: #686B78;
$pickled-bluewood: #2F3D51;
$wild-water-melon: #ff5066;
$concrete: #F3F3F3;
$chateau-green: #49b44e;

//VARIABLE
$theme-color: $chateau-green;
$default-text-color: red;
$error-color: $wild-water-melon;
$input-place-holder-color: $shuttle-gray;