@import "varialbes.scss";
@import "colors.scss";
@import "mixins.scss";

.error-message-view{
  padding-top: ($default-padding - 5);
  margin-bottom: ($default-margin - 5);
  @include set-font(QuickSandLight, $default-font-size+2, $error-color, normal, left, normal);
  @media screen and (min-width: 768px){
    font-size: $default-font-size+4;
  }
}

.uppercase{
  text-transform: uppercase !important;
}

.cursor{
  cursor: pointer;
}

// Empty state view component
.empty-state-wrapper{
  height: 200px;
  @include align-item(flex, center, center, row);
}