@import "varialbes.scss";
@import "colors.scss";
@import "mixins.scss";

.error-message-view{
  padding-top: ($default-padding - 5);
  margin-bottom: ($default-margin - 5);
  @include set-font(QuickSandLight, $default-font-size+2, $error-color, normal, left, normal);
  @media screen and (min-width: 768px){
    font-size: $default-font-size+4;
  }
}

.uppercase{
  text-transform: uppercase !important;
}

.cursor{
  cursor: pointer;
}

// Empty state view component
.empty-state-wrapper{
  height: 200px;
  @include align-item(flex, center, center, row);
}

// Integrations table view
.integration-collection-wrapper{
  .table{
    .table-header, .table-body{
      .table-row{
        .extra-large-column{
          width: 80%;
          word-break: break-all;
        }
        .small-column{
          width: 20%;
          text-align: center;
          .delete-action-btn{
            color: $wild-water-melon;
            cursor: pointer;
          }
        }
      }
    }
  }
}