.error-message-view {
  padding-top: 5px;
  margin-bottom: 5px;
  color: #ff5066;
  font-size: 12px !important;
  font-family: QuickSandLight !important;
  line-height: normal;
  font-weight: normal;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .error-message-view {
      font-size: 14px; } }

.uppercase {
  text-transform: uppercase !important; }

.cursor {
  cursor: pointer; }

.empty-state-wrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.integration-collection-wrapper .table .table-header .table-row .extra-large-column, .integration-collection-wrapper .table .table-body .table-row .extra-large-column {
  width: 80%;
  word-break: break-all; }

.integration-collection-wrapper .table .table-header .table-row .small-column, .integration-collection-wrapper .table .table-body .table-row .small-column {
  width: 20%;
  text-align: center; }
  .integration-collection-wrapper .table .table-header .table-row .small-column .delete-action-btn, .integration-collection-wrapper .table .table-body .table-row .small-column .delete-action-btn {
    color: #ff5066;
    cursor: pointer; }
