@import "varialbes.scss";
@import "colors.scss";
@import "mixins.scss";

.header-view{
    height: 70px;
    background-color: $white;
    box-shadow: rgb(204, 204, 204) 0px 1px 2px;
    padding-right: $default-padding*2;
    padding-left: $default-padding*2;
    @include align-item(flex, flex-end, center, row);

    .user-info-wrapper{
        width: 100%;
        @include align-item(flex, space-between, center, row);
        .brand-logo{
            @include set-font(QuickSandBold, $default-font-size*4, $theme-color, normal, left, normal);
        }
        img{
            width: 40px;
            height: auto;
            cursor: pointer;
        }
    }
}

.user-profile-popup-content-view{
    .user-name{
        padding: $default-padding - 3;
        @include set-font(
            QuickSandMedium, 
            $default-font-size+6,
            $shuttle-gray, 
            bold, 
            left, 
            normal
        );
        border-bottom: 1px solid $silver;
    }
    .popup-link{
        padding: $default-padding $default-padding - 3;
        display: block;
        cursor: pointer;
        @include set-font(
            QuickSandMedium,
            $default-font-size+4,
            $shuttle-gray,
            normal,
            left,
            normal
        );
    }
}