.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.header {
  height: 60px;
  width: 100%;
  background-color: wheat;
  display: flex; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

.auth-form-view {
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  @media screen and (min-width: 1024px) {
    .auth-form-view {
      padding: 50px !important;
      padding-bottom: 30px !important; } }
  .auth-form-view .login-view-form-wrapper {
    width: 520px !important;
    padding: 40px !important;
    border-radius: 4px;
    border: 1px solid #F3F3F3;
    box-shadow: 0 7px 13px 0 rgba(24, 29, 58, 0.05); }
    .auth-form-view .login-view-form-wrapper .heading {
      padding-bottom: 30px;
      letter-spacing: -0.5px;
      text-transform: capitalize;
      color: #2F3D51;
      font-size: 20px;
      font-family: QuickSandMedium;
      line-height: normal;
      font-weight: normal;
      text-align: left; }
      @media screen and (min-width: 1024px) {
        .auth-form-view .login-view-form-wrapper .heading {
          font-size: 30px; } }
    .auth-form-view .login-view-form-wrapper .screen-sub-heading {
      padding-bottom: 20px;
      letter-spacing: -0.5px;
      color: #2F3D51;
      font-size: 14px;
      font-family: QuickSandMedium;
      line-height: normal;
      font-weight: normal;
      text-align: left; }
      @media screen and (min-width: 1024px) {
        .auth-form-view .login-view-form-wrapper .screen-sub-heading {
          padding-bottom: 40px; } }
    .auth-form-view .login-view-form-wrapper .ui.form .btn-wrapper {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      .auth-form-view .login-view-form-wrapper .ui.form .btn-wrapper .app-btn {
        min-width: 100px;
        height: 50px;
        border-radius: 4px;
        background-color: #2F3D51;
        border: 1px solid #2F3D51;
        color: #ffffff;
        font-size: 14px;
        font-family: QuickSandMedium;
        line-height: normal;
        font-weight: 500;
        text-align: center; }
    .auth-form-view .login-view-form-wrapper .ui.form .links-wrapper {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      .auth-form-view .login-view-form-wrapper .ui.form .links-wrapper .forgot-password-link, .auth-form-view .login-view-form-wrapper .ui.form .links-wrapper .register-link {
        cursor: pointer;
        color: #2F3D51;
        font-size: 14px;
        font-family: QuickSandMedium;
        line-height: normal;
        font-weight: 500;
        text-align: left; }
  .auth-form-view .forgot-password-view-form-wrapper {
    width: 520px !important;
    padding: 40px !important;
    border-radius: 4px;
    border: 1px solid #F3F3F3;
    box-shadow: 0 7px 13px 0 rgba(24, 29, 58, 0.05); }
    .auth-form-view .forgot-password-view-form-wrapper .heading {
      padding-bottom: 20px;
      letter-spacing: -0.5px;
      text-transform: capitalize;
      color: #2F3D51;
      font-size: 20px;
      font-family: QuickSandMedium;
      line-height: normal;
      font-weight: normal;
      text-align: left; }
      @media screen and (min-width: 1024px) {
        .auth-form-view .forgot-password-view-form-wrapper .heading {
          font-size: 30px; } }
    .auth-form-view .forgot-password-view-form-wrapper .screen-sub-heading {
      padding-bottom: 20px;
      letter-spacing: -0.5px;
      color: #2F3D51;
      font-size: 14px;
      font-family: QuickSandMedium;
      line-height: normal;
      font-weight: normal;
      text-align: left; }
      @media screen and (min-width: 1024px) {
        .auth-form-view .forgot-password-view-form-wrapper .screen-sub-heading {
          padding-bottom: 40px; } }
    .auth-form-view .forgot-password-view-form-wrapper .ui.form .btn-wrapper {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      .auth-form-view .forgot-password-view-form-wrapper .ui.form .btn-wrapper .app-btn {
        min-width: 100px;
        height: 50px;
        border-radius: 4px;
        background-color: #2F3D51;
        border: 1px solid #2F3D51;
        color: #ffffff;
        font-size: 14px;
        font-family: QuickSandMedium;
        line-height: normal;
        font-weight: 500;
        text-align: center; }
    .auth-form-view .forgot-password-view-form-wrapper .ui.form .links-wrapper {
      margin-top: 40px;
      text-align: right; }
      .auth-form-view .forgot-password-view-form-wrapper .ui.form .links-wrapper .back-to-login-link {
        cursor: pointer;
        color: #2F3D51;
        font-size: 14px;
        font-family: QuickSandMedium;
        line-height: normal;
        font-weight: 500;
        text-align: right; }

.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

/* start :: form styles */
.ui.form .field {
  width: 100%;
  margin-bottom: 10px; }
  .ui.form .field input {
    height: 50px;
    letter-spacing: 1px;
    color: #686B78;
    font-size: 16px;
    font-family: QuickSandMedium;
    line-height: normal;
    font-weight: normal;
    text-align: left; }

.ui.form .error-msg-wrapper {
  text-align: center;
  position: relative; }

.ui.checkbox label:before,
.ui.checkbox .box:before {
  border: 2px solid #2F3D51; }

.ui.checkbox .box:after,
.ui.checkbox label:after {
  top: 1px; }

.ui input.highlight-input {
  border-color: #ff5066 !important; }

/* end :: form styles */
.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

.error-message-view {
  padding-top: 5px;
  margin-bottom: 5px;
  color: #ff5066;
  font-size: 12px;
  font-family: QuickSandLight;
  line-height: normal;
  font-weight: normal;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .error-message-view {
      font-size: 14px; } }

@font-face {
  font-family: QuickSandLight;
  src: url("../assets/fonts/app-fonts/Quicksand-Light.ttf"); }

@font-face {
  font-family: QuickSandRegular;
  src: url("../assets/fonts/app-fonts/Quicksand-Regular.ttf"); }

@font-face {
  font-family: QuickSandMedium;
  src: url("../assets/fonts/app-fonts/Quicksand-Medium.ttf"); }

@font-face {
  font-family: QuickSandBold;
  src: url("../assets/fonts/app-fonts/Quicksand-Bold.ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: auto; }
