.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.header {
  height: 60px;
  width: 100%;
  background-color: wheat;
  display: flex; }

.main-content {
  margin-top: 10px;
  margin-left: 240px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

.auth-form-view {
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  .auth-form-view .left-section {
    width: 50%;
    height: 100%;
    background: #111111; }
    .auth-form-view .left-section .brand-name {
      color: #FFFFFF;
      font-size: 60px !important;
      font-family: QuickSandBold !important;
      line-height: normal;
      font-weight: normal;
      text-align: left;
      position: absolute;
      top: calc(50% - 30px);
      left: calc(25% - 100px); }
    .auth-form-view .left-section .left-section-marker {
      position: relative; }
      .auth-form-view .left-section .left-section-marker::after {
        position: absolute;
        content: '';
        right: -5px;
        top: 50vh;
        width: 20px;
        height: 20px;
        background: #111111;
        transform: rotate(45deg); }
  .auth-form-view .right-section {
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .auth-form-view .right-section .login-view-form-wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 400px !important;
      padding: 40px !important;
      border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.3); }
      .auth-form-view .right-section .login-view-form-wrapper .heading {
        padding-top: 20px;
        padding-bottom: 30px;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        color: #2F3D51;
        font-size: 20px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .login-view-form-wrapper .heading {
            font-size: 30px; } }
      .auth-form-view .right-section .login-view-form-wrapper .screen-sub-heading {
        padding-bottom: 20px;
        letter-spacing: -0.5px;
        color: #2F3D51;
        font-size: 14px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .login-view-form-wrapper .screen-sub-heading {
            padding-bottom: 40px; } }
      .auth-form-view .right-section .login-view-form-wrapper .ui.form .btn-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        .auth-form-view .right-section .login-view-form-wrapper .ui.form .btn-wrapper .app-btn {
          min-width: 100px;
          height: 50px;
          border-radius: 4px;
          background-color: #111111;
          border: 1px solid #111111;
          color: #ffffff;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: center; }
      .auth-form-view .right-section .login-view-form-wrapper .ui.form .links-wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        .auth-form-view .right-section .login-view-form-wrapper .ui.form .links-wrapper .forgot-password-link, .auth-form-view .right-section .login-view-form-wrapper .ui.form .links-wrapper .register-link {
          cursor: pointer;
          color: #2F3D51;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: left; }
    .auth-form-view .right-section .forgot-password-view-form-wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 400px !important;
      padding: 40px !important;
      border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.3); }
      .auth-form-view .right-section .forgot-password-view-form-wrapper .heading {
        padding-top: 20px;
        padding-bottom: 30px;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        color: #2F3D51;
        font-size: 20px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .forgot-password-view-form-wrapper .heading {
            font-size: 30px; } }
      .auth-form-view .right-section .forgot-password-view-form-wrapper .screen-sub-heading {
        padding-bottom: 20px;
        letter-spacing: -0.5px;
        color: #2F3D51;
        font-size: 14px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .forgot-password-view-form-wrapper .screen-sub-heading {
            padding-bottom: 40px; } }
      .auth-form-view .right-section .forgot-password-view-form-wrapper .ui.form .btn-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        .auth-form-view .right-section .forgot-password-view-form-wrapper .ui.form .btn-wrapper .app-btn {
          min-width: 100px;
          height: 50px;
          border-radius: 4px;
          background-color: #111111;
          border: 1px solid #111111;
          color: #ffffff;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: center; }
      .auth-form-view .right-section .forgot-password-view-form-wrapper .ui.form .links-wrapper {
        margin-top: 40px;
        text-align: right; }
        .auth-form-view .right-section .forgot-password-view-form-wrapper .ui.form .links-wrapper .back-to-login-link {
          cursor: pointer;
          color: #2F3D51;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: right; }
    .auth-form-view .right-section .reset-password-view-form-wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 400px !important;
      padding: 40px !important;
      border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.3); }
      .auth-form-view .right-section .reset-password-view-form-wrapper .heading {
        padding-top: 20px;
        padding-bottom: 30px;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        color: #2F3D51;
        font-size: 20px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .reset-password-view-form-wrapper .heading {
            font-size: 30px; } }
      .auth-form-view .right-section .reset-password-view-form-wrapper .screen-sub-heading {
        padding-bottom: 20px;
        letter-spacing: -0.5px;
        color: #2F3D51;
        font-size: 14px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .reset-password-view-form-wrapper .screen-sub-heading {
            padding-bottom: 40px; } }
      .auth-form-view .right-section .reset-password-view-form-wrapper .ui.form .btn-wrapper {
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        .auth-form-view .right-section .reset-password-view-form-wrapper .ui.form .btn-wrapper .app-btn {
          min-width: 100px;
          height: 50px;
          border-radius: 4px;
          background-color: #111111;
          border: 1px solid #111111;
          color: #ffffff;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: center; }
    .auth-form-view .right-section .register-view-form-wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 400px !important;
      padding: 40px !important;
      border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.3); }
      .auth-form-view .right-section .register-view-form-wrapper .heading {
        padding-top: 20px;
        padding-bottom: 30px;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        color: #2F3D51;
        font-size: 20px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .register-view-form-wrapper .heading {
            font-size: 30px; } }
      .auth-form-view .right-section .register-view-form-wrapper .ui.form .btn-wrapper {
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        .auth-form-view .right-section .register-view-form-wrapper .ui.form .btn-wrapper .app-btn {
          min-width: 100px;
          height: 50px;
          border-radius: 4px;
          background-color: #111111;
          border: 1px solid #111111;
          color: #ffffff;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: center; }
      .auth-form-view .right-section .register-view-form-wrapper .ui.form .register-footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center; }
      .auth-form-view .right-section .register-view-form-wrapper .register-success-form .sucess-msg, .auth-form-view .right-section .register-view-form-wrapper .register-success-form .error-msg {
        font-size: 26px;
        text-align: center;
        padding: 30px 0px;
        line-height: 1.4em; }
      .auth-form-view .right-section .register-view-form-wrapper .register-success-form .register-msg-footer-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        .auth-form-view .right-section .register-view-form-wrapper .register-success-form .register-msg-footer-wrapper .back-to-login-link button {
          min-width: 100px;
          height: 50px;
          border-radius: 4px;
          background-color: #111111;
          border: 1px solid #111111;
          color: #ffffff;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: center; }
        .auth-form-view .right-section .register-view-form-wrapper .register-success-form .register-msg-footer-wrapper .back-to-register {
          min-width: 100px;
          height: 50px;
          border-radius: 4px;
          background-color: #ff5066;
          border: 1px solid #ff5066;
          color: #ffffff;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: center; }

.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

/* start :: form styles */
.ui.form .field {
  width: 100%;
  margin-bottom: 10px; }
  .ui.form .field input {
    height: 50px;
    letter-spacing: 1px;
    color: #686B78;
    font-size: 16px !important;
    font-family: QuickSandMedium !important;
    line-height: normal;
    font-weight: normal;
    text-align: left; }

.ui.form .error-msg-wrapper {
  text-align: center;
  position: relative; }

.ui.checkbox label:before,
.ui.checkbox .box:before {
  border: 2px solid #2F3D51; }

.ui.checkbox .box:after,
.ui.checkbox label:after {
  top: 1px; }

.ui input.highlight-input {
  border-color: #ff5066 !important; }

/* end :: form styles */
.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

.error-message-view {
  padding-top: 5px;
  margin-bottom: 5px;
  color: #ff5066;
  font-size: 12px !important;
  font-family: QuickSandLight !important;
  line-height: normal;
  font-weight: normal;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .error-message-view {
      font-size: 14px; } }

.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

.header-view {
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: #cccccc 0px 1px 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row; }
  .header-view .user-info-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row; }
    .header-view .user-info-wrapper img {
      width: 40px;
      height: auto; }

.user-profile-popup-content-view .user-name {
  padding: 7px;
  color: #686B78;
  font-size: 16px !important;
  font-family: QuickSandMedium !important;
  line-height: bold;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid #cccccc; }

.user-profile-popup-content-view .popup-link {
  padding: 10px 7px;
  display: block;
  color: #686B78;
  font-size: 14px !important;
  font-family: QuickSandMedium !important;
  line-height: normal;
  font-weight: normal;
  text-align: left; }

.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

.side-bar-view {
  width: 220px;
  height: 100%;
  background-color: #111111;
  position: fixed;
  top: 70px; }

.menu-collection .menu {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }
  .menu-collection .menu .icon-wrapper {
    width: 60px;
    text-align: center;
    color: #FFFFFF; }
    .menu-collection .menu .icon-wrapper .icon {
      font-size: 25px; }
  .menu-collection .menu .name-wrapper .name {
    color: #FFFFFF;
    font-size: 16px !important;
    font-family: QuickSandMedium !important;
    line-height: normal;
    font-weight: normal;
    text-align: left; }
  .menu-collection .menu:hover {
    background-color: #000000; }
    .menu-collection .menu:hover .name {
      font-weight: bold; }

.menu-collection .active {
  background-color: #000000; }
  .menu-collection .active .name-wrapper .name {
    font-weight: bold; }

.app-btn {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  background-color: #2f3d51;
  border: solid 1px #2f3d51; }

.uptime-view .main-heading {
  color: #111111;
  font-size: 30px !important;
  font-family: QuickSandBold !important;
  line-height: normal;
  font-weight: normal;
  text-align: left; }

@font-face {
  font-family: QuickSandLight;
  src: url("../assets/fonts/app-fonts/Quicksand-Light.ttf"); }

@font-face {
  font-family: QuickSandRegular;
  src: url("../assets/fonts/app-fonts/Quicksand-Regular.ttf"); }

@font-face {
  font-family: QuickSandMedium;
  src: url("../assets/fonts/app-fonts/Quicksand-Medium.ttf"); }

@font-face {
  font-family: QuickSandBold;
  src: url("../assets/fonts/app-fonts/Quicksand-Bold.ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: auto; }
