.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.header {
  height: 60px;
  width: 100%;
  background-color: wheat;
  display: flex; }

.main-content {
  margin-top: 90px;
  margin-left: 240px;
  margin-right: 20px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.auth-form-view {
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  .auth-form-view .left-section {
    width: 50%;
    height: 100%;
    background: #111111; }
    .auth-form-view .left-section .brand-name {
      color: #FFFFFF;
      font-size: 60px !important;
      font-family: QuickSandBold !important;
      line-height: normal;
      font-weight: normal;
      text-align: left;
      position: absolute;
      top: calc(50% - 30px);
      left: calc(25% - 100px); }
    .auth-form-view .left-section .left-section-marker {
      position: relative; }
      .auth-form-view .left-section .left-section-marker::after {
        position: absolute;
        content: '';
        right: -5px;
        top: 50vh;
        width: 20px;
        height: 20px;
        background: #111111;
        transform: rotate(45deg); }
  .auth-form-view .right-section {
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .auth-form-view .right-section .login-view-form-wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 400px !important;
      padding: 40px !important;
      border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.3); }
      .auth-form-view .right-section .login-view-form-wrapper .heading {
        padding-top: 20px;
        padding-bottom: 30px;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        color: #2F3D51;
        font-size: 20px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .login-view-form-wrapper .heading {
            font-size: 30px; } }
      .auth-form-view .right-section .login-view-form-wrapper .screen-sub-heading {
        padding-bottom: 20px;
        letter-spacing: -0.5px;
        color: #2F3D51;
        font-size: 14px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .login-view-form-wrapper .screen-sub-heading {
            padding-bottom: 40px; } }
      .auth-form-view .right-section .login-view-form-wrapper .ui.form .btn-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        .auth-form-view .right-section .login-view-form-wrapper .ui.form .btn-wrapper .app-btn {
          min-width: 100px;
          height: 50px;
          border-radius: 4px;
          background-color: #111111;
          border: 1px solid #111111;
          padding: 5px;
          color: #ffffff;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: center; }
      .auth-form-view .right-section .login-view-form-wrapper .ui.form .links-wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        .auth-form-view .right-section .login-view-form-wrapper .ui.form .links-wrapper .forgot-password-link, .auth-form-view .right-section .login-view-form-wrapper .ui.form .links-wrapper .register-link {
          cursor: pointer;
          color: #2F3D51;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: left; }
    .auth-form-view .right-section .forgot-password-view-form-wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 400px !important;
      padding: 40px !important;
      border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.3); }
      .auth-form-view .right-section .forgot-password-view-form-wrapper .heading {
        padding-top: 20px;
        padding-bottom: 30px;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        color: #2F3D51;
        font-size: 20px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .forgot-password-view-form-wrapper .heading {
            font-size: 30px; } }
      .auth-form-view .right-section .forgot-password-view-form-wrapper .screen-sub-heading {
        padding-bottom: 20px;
        letter-spacing: -0.5px;
        color: #2F3D51;
        font-size: 14px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .forgot-password-view-form-wrapper .screen-sub-heading {
            padding-bottom: 40px; } }
      .auth-form-view .right-section .forgot-password-view-form-wrapper .ui.form .btn-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        .auth-form-view .right-section .forgot-password-view-form-wrapper .ui.form .btn-wrapper .app-btn {
          min-width: 100px;
          height: 50px;
          border-radius: 4px;
          background-color: #111111;
          border: 1px solid #111111;
          padding: 5px;
          color: #ffffff;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: center; }
      .auth-form-view .right-section .forgot-password-view-form-wrapper .ui.form .links-wrapper {
        margin-top: 40px;
        text-align: right; }
        .auth-form-view .right-section .forgot-password-view-form-wrapper .ui.form .links-wrapper .back-to-login-link {
          cursor: pointer;
          color: #2F3D51;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: right; }
    .auth-form-view .right-section .reset-password-view-form-wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 400px !important;
      padding: 40px !important;
      border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.3); }
      .auth-form-view .right-section .reset-password-view-form-wrapper .heading {
        padding-top: 20px;
        padding-bottom: 30px;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        color: #2F3D51;
        font-size: 20px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .reset-password-view-form-wrapper .heading {
            font-size: 30px; } }
      .auth-form-view .right-section .reset-password-view-form-wrapper .screen-sub-heading {
        padding-bottom: 20px;
        letter-spacing: -0.5px;
        color: #2F3D51;
        font-size: 14px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .reset-password-view-form-wrapper .screen-sub-heading {
            padding-bottom: 40px; } }
      .auth-form-view .right-section .reset-password-view-form-wrapper .ui.form .btn-wrapper {
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        .auth-form-view .right-section .reset-password-view-form-wrapper .ui.form .btn-wrapper .app-btn {
          min-width: 100px;
          height: 50px;
          border-radius: 4px;
          background-color: #111111;
          border: 1px solid #111111;
          padding: 5px;
          color: #ffffff;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: center; }
    .auth-form-view .right-section .register-view-form-wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 400px !important;
      padding: 40px !important;
      border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.3); }
      .auth-form-view .right-section .register-view-form-wrapper .heading {
        padding-top: 20px;
        padding-bottom: 30px;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        color: #2F3D51;
        font-size: 20px !important;
        font-family: QuickSandMedium !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }
        @media screen and (min-width: 1024px) {
          .auth-form-view .right-section .register-view-form-wrapper .heading {
            font-size: 30px; } }
      .auth-form-view .right-section .register-view-form-wrapper .ui.form .btn-wrapper {
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        .auth-form-view .right-section .register-view-form-wrapper .ui.form .btn-wrapper .app-btn {
          min-width: 100px;
          height: 50px;
          border-radius: 4px;
          background-color: #111111;
          border: 1px solid #111111;
          padding: 5px;
          color: #ffffff;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: center; }
      .auth-form-view .right-section .register-view-form-wrapper .ui.form .register-footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center; }
      .auth-form-view .right-section .register-view-form-wrapper .register-success-form .sucess-msg, .auth-form-view .right-section .register-view-form-wrapper .register-success-form .error-msg {
        font-size: 26px;
        text-align: center;
        padding: 30px 0px;
        line-height: 1.4em; }
      .auth-form-view .right-section .register-view-form-wrapper .register-success-form .register-msg-footer-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        .auth-form-view .right-section .register-view-form-wrapper .register-success-form .register-msg-footer-wrapper .back-to-login-link button {
          min-width: 100px;
          height: 50px;
          border-radius: 4px;
          background-color: #111111;
          border: 1px solid #111111;
          padding: 5px;
          color: #ffffff;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: center; }
        .auth-form-view .right-section .register-view-form-wrapper .register-success-form .register-msg-footer-wrapper .back-to-register {
          min-width: 100px;
          height: 50px;
          border-radius: 4px;
          background-color: #ff5066;
          border: 1px solid #ff5066;
          padding: 5px;
          color: #ffffff;
          font-size: 14px !important;
          font-family: QuickSandMedium !important;
          line-height: normal;
          font-weight: 500;
          text-align: center; }

/* start :: form styles */
.ui.form .field {
  width: 100%;
  margin-bottom: 10px; }
  .ui.form .field input {
    letter-spacing: 1px;
    color: #686B78;
    font-size: 16px !important;
    font-family: QuickSandMedium !important;
    line-height: normal;
    font-weight: normal;
    text-align: left; }

.ui.form .error-msg-wrapper {
  text-align: center;
  position: relative; }

.ui.checkbox label:before,
.ui.checkbox .box:before {
  border: 2px solid #2F3D51; }

.ui.checkbox .box:after,
.ui.checkbox label:after {
  top: 1px; }

.ui input.highlight-input {
  border-color: #ff5066 !important; }

/* end :: form styles */
.error-message-view {
  padding-top: 5px;
  margin-bottom: 5px;
  color: #ff5066;
  font-size: 12px !important;
  font-family: QuickSandLight !important;
  line-height: normal;
  font-weight: normal;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .error-message-view {
      font-size: 14px; } }

.uppercase {
  text-transform: uppercase !important; }

.cursor {
  cursor: pointer; }

.empty-state-wrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.integration-collection-wrapper .table .table-header .table-row .extra-large-column, .integration-collection-wrapper .table .table-body .table-row .extra-large-column {
  width: 80%;
  word-break: break-all; }

.integration-collection-wrapper .table .table-header .table-row .small-column, .integration-collection-wrapper .table .table-body .table-row .small-column {
  width: 20%;
  text-align: center; }
  .integration-collection-wrapper .table .table-header .table-row .small-column .delete-action-btn, .integration-collection-wrapper .table .table-body .table-row .small-column .delete-action-btn {
    color: #ff5066;
    cursor: pointer; }

.header-view {
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: #cccccc 0px 1px 2px;
  padding-right: 20px;
  padding-left: 20px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row; }
  .header-view .user-info-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .header-view .user-info-wrapper .brand-logo {
      color: #111111;
      font-size: 40px !important;
      font-family: QuickSandBold !important;
      line-height: normal;
      font-weight: normal;
      text-align: left; }
    .header-view .user-info-wrapper img {
      width: 40px;
      height: auto;
      cursor: pointer; }

.user-profile-popup-content-view .user-name {
  padding: 7px;
  color: #686B78;
  font-size: 16px !important;
  font-family: QuickSandMedium !important;
  line-height: bold;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid #cccccc; }

.user-profile-popup-content-view .popup-link {
  padding: 10px 7px;
  display: block;
  cursor: pointer;
  color: #686B78;
  font-size: 14px !important;
  font-family: QuickSandMedium !important;
  line-height: normal;
  font-weight: normal;
  text-align: left; }

.side-bar-view {
  width: 220px;
  height: 100%;
  background-color: #111111;
  position: fixed;
  top: 70px; }

.menu-collection .menu {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }
  .menu-collection .menu .icon-wrapper {
    width: 60px;
    text-align: center;
    color: #FFFFFF; }
    .menu-collection .menu .icon-wrapper .icon {
      font-size: 25px; }
  .menu-collection .menu .name-wrapper .name {
    color: #FFFFFF;
    font-size: 16px !important;
    font-family: QuickSandMedium !important;
    line-height: normal;
    font-weight: normal;
    text-align: left; }
  .menu-collection .menu:hover {
    background-color: #3C3C3C; }
    .menu-collection .menu:hover .name {
      font-weight: bold; }

.menu-collection .active {
  background-color: #3C3C3C; }
  .menu-collection .active .name-wrapper .name {
    font-weight: bold; }

.uptime-view .main-heading {
  margin-top: 20px;
  color: #111111;
  font-size: 30px !important;
  font-family: QuickSandBold !important;
  line-height: normal;
  font-weight: normal;
  text-align: left; }

.uptime-view .section-header {
  padding: 20px 0px; }
  .uptime-view .section-header .section-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 0px;
    text-align: right; }
    .uptime-view .section-header .section-header-content .search-bar-wrapper input {
      min-width: 300px; }
    .uptime-view .section-header .section-header-content .add-monitoring-url-btn {
      min-width: 100px;
      height: 40px;
      border-radius: 4px;
      background-color: #111111;
      border: 1px solid #111111;
      padding: 5px;
      color: #ffffff;
      font-size: 14px !important;
      font-family: QuickSandMedium !important;
      line-height: normal;
      font-weight: 500;
      text-align: center; }

.uptime-view .section-content-wrapper .section-content {
  margin-bottom: 20px; }
  .uptime-view .section-content-wrapper .section-content .table .table-body .table-row .action-icons-wrapper .delete-icon {
    margin-right: 10px; }
  .uptime-view .section-content-wrapper .section-content .status-icon {
    font-size: 20px;
    margin-left: 10px; }
  .uptime-view .section-content-wrapper .section-content .up {
    color: green !important; }
  .uptime-view .section-content-wrapper .section-content .down {
    color: red !important; }
  .uptime-view .section-content-wrapper .section-content .unknown {
    color: grey; }

.uptime-details-view .heading-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 20px auto; }
  .uptime-details-view .heading-wrapper .back-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: #000000;
    font-size: 20px; }
  .uptime-details-view .heading-wrapper .main-heading {
    color: #111111;
    font-size: 30px !important;
    font-family: QuickSandBold !important;
    line-height: normal;
    font-weight: normal;
    text-align: left; }

.uptime-details-view .filters-wrapper {
  margin: 10px 0px; }
  .uptime-details-view .filters-wrapper .filters-view {
    margin-left: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; }
    .uptime-details-view .filters-wrapper .filters-view .label {
      color: #111111;
      font-size: 16px !important;
      font-family: QuickSandBold !important;
      line-height: normal;
      font-weight: normal;
      text-align: left;
      margin-right: 10px; }

.uptime-details-view .section-content-wrapper .chart-wrapper {
  min-height: 270px; }
  .uptime-details-view .section-content-wrapper .chart-wrapper .recharts-wrapper {
    margin: 0 auto; }

.uptime-details-view .section-content-wrapper .summary-wrapper {
  margin-left: 60px; }
  .uptime-details-view .section-content-wrapper .summary-wrapper .summary-heading {
    color: #2F3D51;
    font-size: 25px !important;
    font-family: QuickSandBold !important;
    line-height: normal;
    font-weight: normal;
    text-align: left; }
  .uptime-details-view .section-content-wrapper .summary-wrapper .summary {
    margin-top: 30px; }
    .uptime-details-view .section-content-wrapper .summary-wrapper .summary .summary-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      margin-bottom: 10px; }
      .uptime-details-view .section-content-wrapper .summary-wrapper .summary .summary-row .summary-key {
        width: 200px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        color: #686B78;
        font-size: 16px !important;
        font-family: QuickSandBold !important;
        line-height: normal;
        font-weight: normal;
        text-align: left;
        text-transform: uppercase; }
      .uptime-details-view .section-content-wrapper .summary-wrapper .summary .summary-row .summary-value {
        color: #686B78;
        font-size: 16px !important;
        font-family: QuickSandLight !important;
        line-height: normal;
        font-weight: normal;
        text-align: left; }

.custom-tooltip {
  padding: 10px !important; }
  .custom-tooltip .time, .custom-tooltip .response-time, .custom-tooltip .status {
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; }
    .custom-tooltip .time .key, .custom-tooltip .response-time .key, .custom-tooltip .status .key {
      color: #111111;
      font-size: 14px !important;
      font-family: QuickSandBold !important;
      line-height: normal;
      font-weight: normal;
      text-align: left; }
    .custom-tooltip .time .value, .custom-tooltip .response-time .value, .custom-tooltip .status .value {
      color: #111111;
      font-size: 14px !important;
      font-family: QuickSandRegular !important;
      line-height: normal;
      font-weight: normal;
      text-align: left; }

.dashboard-view .main-heading {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #111111;
  font-size: 30px !important;
  font-family: QuickSandBold !important;
  line-height: normal;
  font-weight: normal;
  text-align: left; }

.dashboard-view .section-content-wrapper {
  margin-top: 20px; }
  .dashboard-view .section-content-wrapper .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px; }
    .dashboard-view .section-content-wrapper .section-content .card-wrapper {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .dashboard-view .section-content-wrapper .section-content .card-wrapper .card-content {
        margin: 10px; }
        .dashboard-view .section-content-wrapper .section-content .card-wrapper .card-content .header {
          color: #111111;
          font-size: 50px !important;
          font-family: QuickSandBold !important;
          line-height: normal;
          font-weight: bold;
          text-align: center;
          background-color: transparent;
          margin-bottom: 30px; }
        .dashboard-view .section-content-wrapper .section-content .card-wrapper .card-content .description {
          color: #111111;
          font-size: 18px !important;
          font-family: QuickSandRegular !important;
          line-height: normal;
          font-weight: normal;
          text-align: center; }

.integrations-view .main-heading {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #111111;
  font-size: 30px !important;
  font-family: QuickSandBold !important;
  line-height: normal;
  font-weight: normal;
  text-align: left; }

.integrations-view .section-content-wrapper {
  margin-top: 20px; }
  .integrations-view .section-content-wrapper .tabular.menu .item {
    width: 200px;
    border: 1px solid #111111;
    border-radius: 0px;
    justify-content: center;
    text-transform: uppercase; }
    .integrations-view .section-content-wrapper .tabular.menu .item.active {
      color: #FFFFFF;
      font-size: 14px !important;
      font-family: QuickSandBold !important;
      line-height: normal;
      font-weight: normal;
      text-align: left;
      background-color: #111111;
      text-transform: uppercase;
      border: 1px solid #111111;
      border-radius: 0px !important; }
    .integrations-view .section-content-wrapper .tabular.menu .item:nth-child(2) {
      border-left: 0px; }
  .integrations-view .section-content-wrapper .tab-content-view {
    min-height: 400px; }
    .integrations-view .section-content-wrapper .tab-content-view .email-integration-view-wrapper,
    .integrations-view .section-content-wrapper .tab-content-view .slack-integration-view-wrapper,
    .integrations-view .section-content-wrapper .tab-content-view .pager-duty-integrations-view {
      padding-top: 20px; }
      .integrations-view .section-content-wrapper .tab-content-view .email-integration-view-wrapper .form,
      .integrations-view .section-content-wrapper .tab-content-view .slack-integration-view-wrapper .form,
      .integrations-view .section-content-wrapper .tab-content-view .pager-duty-integrations-view .form {
        width: 100%;
        height: 100%;
        position: relative; }
        .integrations-view .section-content-wrapper .tab-content-view .email-integration-view-wrapper .form .btn-wrapper,
        .integrations-view .section-content-wrapper .tab-content-view .slack-integration-view-wrapper .form .btn-wrapper,
        .integrations-view .section-content-wrapper .tab-content-view .pager-duty-integrations-view .form .btn-wrapper {
          margin-top: 60px; }
          .integrations-view .section-content-wrapper .tab-content-view .email-integration-view-wrapper .form .btn-wrapper .app-btn,
          .integrations-view .section-content-wrapper .tab-content-view .slack-integration-view-wrapper .form .btn-wrapper .app-btn,
          .integrations-view .section-content-wrapper .tab-content-view .pager-duty-integrations-view .form .btn-wrapper .app-btn {
            min-width: 100px;
            height: 50px;
            border-radius: 4px;
            background-color: #111111;
            border: 1px solid #111111;
            padding: 5px;
            color: #ffffff;
            font-size: 14px !important;
            font-family: QuickSandMedium !important;
            line-height: normal;
            font-weight: 500;
            text-align: center; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 20px; }

.lds-ellipsis div {
  position: absolute;
  top: 8px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }

.loader-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: black;
  opacity: 0.8; }

.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%); }
  .loader > div {
    height: 100%;
    width: 8px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    -webkit-animation: delay 0.8s infinite ease-in-out;
    animation: delay 0.8s infinite ease-in-out; }
  .loader .bar1 {
    background-color: #754fa0; }
  .loader .bar2 {
    background-color: #09b7bf;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
  .loader .bar3 {
    background-color: #90d36b;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
  .loader .bar4 {
    background-color: #f2d40d;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
  .loader .bar5 {
    background-color: #fcb12b;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
  .loader .bar6 {
    background-color: #ed1b72;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }

@-webkit-keyframes delay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.05); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes delay {
  0%, 40%, 100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

@font-face {
  font-family: QuickSandLight;
  src: url("../assets/fonts/app-fonts/Quicksand-Light.ttf"); }

@font-face {
  font-family: QuickSandRegular;
  src: url("../assets/fonts/app-fonts/Quicksand-Regular.ttf"); }

@font-face {
  font-family: QuickSandMedium;
  src: url("../assets/fonts/app-fonts/Quicksand-Medium.ttf"); }

@font-face {
  font-family: QuickSandBold;
  src: url("../assets/fonts/app-fonts/Quicksand-Bold.ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: auto; }
