@import "varialbes.scss";
@import "colors.scss";
@import "mixins.scss";

// UPTIME VIEW
.uptime-view{
  .main-heading{
    @include set-font(QuickSandBold, $default-font-size*3, $theme-color, normal, left, normal);
  }

  .section-header{
    padding: $default-padding*2 0px;
    .section-header-content{
      @include align-item(flex, space-between, center, row);
      padding: $default-padding 0px;
      text-align: right;

      .search-bar-wrapper{
        input{
          min-width: 300px;
        }
      }
      .add-monitoring-url-btn{
        @include app-btn(100px, 40px, $theme-color, $theme-color);
      }
    }
  }

  .section-content-wrapper{
    .section-content{
      margin-bottom: $default-margin*2;
      .table{
        .table-body{
          .table-row{
            .action-icons-wrapper{
              .delete-icon{
                margin-right: $default-margin;
              }
            }
          }
        }
      }
      .status-icon{
        font-size: 20px;
        margin-left: 10px
      }
      .up{
        color: green!important;
      }
      .down{
        color: red!important;
      }
      .unknown{
        color: grey;
      }
    }
  }
}

// UPTIME DETAILS VIEW
.uptime-details-view{
  
  .heading-wrapper{
    @include align-item(flex, flex-start, center, row);
    margin: $default-margin*2 auto;
    .back-btn-wrapper{
      @include align-item(flex, center, center, row);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: $default-margin*2;
      box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
      color: $black;
      font-size: $default-font-size*2;
    }
    .main-heading{
      @include set-font(QuickSandBold, $default-font-size*3, $theme-color, normal, left, normal);
    }
  }

  .section-content-wrapper{
    .chart-wrapper{
      .recharts-wrapper{
        margin: 0 auto;
      }
    }
  }

}